<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>HUGE - Multipurpose Coming Soon Error 404 Domain For Sale</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
  <meta name="keywords" content="Enter, your, keywords">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Baloo+Bhaijaan|Raleway:100,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/default-skin/default-skin.css">
  <link rel="stylesheet" href="css/photoswipe.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/reveal.css">
</head>
<body>
  <div id="triangles"></div>
  <header>
    <a href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">
      <img class="logo" src="images/logo.png" />
    </a>
    <span class="btn-menu"><img src="images/menu.svg" /></span>
  </header>

  <div class="content">
    <a class="btn" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">Go back to our Homepage</a>
  </div>

  <nav class="menu col-xs-12 col-sm-6 block-revealer">
    <div class="revealer-content">
      <span class="btn-close"><img src="images/close.svg" /></span>
      <div class="menu-inner">
        <!--About Section-->
        <section class="container-fluid about">
          <div class="row">
            <div class="col-lg-12">
              <h3>About</h3>
              <p>The most powerful Coming Soon / Errors / Domain For Sale template.</p>
              <p>Huge is an always-improving toolchain that gains new features every week. Our world-class engineering team constantly iterates upon every facet of the Huge stack.</p>

              <div class="row about-features">
                <div class="col-sm-4 col-xs-12">
                  <div class="feature-icon">
                    <img src="images/ic/responsive.svg">
                  </div>
                  <h4 class="about-feat">Fully Responsive</h4>
                  <p>100% responsive and retina-ready design, beautiful design with an emphasis on readability.</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <div class="feature-icon">
                    <img src="images/ic/eye.svg">
                  </div>
                  <h4 class="about-feat">Unique Design</h4>
                  <p>Unique, creative design with a huge attention to details and carefully crafted elements and features.</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <div class="feature-icon">
                    <img src="images/ic/chat.svg">
                  </div>
                  <h4 class="about-feat">Elite Support</h4>
                  <p>Speedy support with average response times of less than 6 hours.</p>
                </div> 
              </div>  
            </div>  
          </div>
        </section>
        <!--/About Section-->
            
        <!--Projects Section-->
        <section class="container-fluid gallery">
          <div class="row">
            <div class="col-lg-12">
              <h3>Gallery</h3>
              <p>We have created multiple gorgeous layout styles, pick the one that fits you best. Dark, Light or Colorful, Game or Parallax styles available for each of them.</p>
            </div>  
          </div>

          <div class="project-gal-wrap">
             <div class="project-gallery row" itemscope itemtype="http://schema.org/ImageGallery">
              <figure class="col-sm-6 margin-btm-lg margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="images/project1.jpg" itemprop="contentUrl" data-size="730x490">
                  <img class="img-responsive" src="images/project1.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">Image Description</figcaption>

              </figure>
              <figure class="col-sm-6 margin-btm-lg margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="images/project2.jpg" itemprop="contentUrl" data-size="730x490">
                  <img class="img-responsive" src="images/project2.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">Image Description</figcaption>
              </figure>
              <figure class="col-sm-6 margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="images/project3.jpg" itemprop="contentUrl" data-size="730x490">
                  <img class="img-responsive" src="images/project3.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">Image Description</figcaption>
              </figure>
              <figure class="col-sm-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="images/project4.jpg" itemprop="contentUrl" data-size="730x490">
                  <img class="img-responsive" src="images/project4.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">Image Description</figcaption>
              </figure>
            </div>
          </div>
        </section>
        <!--/Projects Section-->
                    
        <!--Team Section-->
        <section class="container-fluid team">
          <div class="row">
            <div class="col-lg-12">
              <h3>Our Team</h3>
              <div class="row">
                <div class="col-sm-4 col-xs-12">
                  <img class="img-responsive" src="images/team1.jpg" alt="team"/>
                  <div class="team-name">Diana Doe</div>
                  <div class="team-job">executive</div>
                  <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <img class="img-responsive" src="images/team2.jpg" alt="team"/>
                  <div class="team-name">Anna Doe</div>
                  <div class="team-job">director</div>
                  <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <img class="img-responsive" src="images/team3.jpg" alt="team"/>
                  <div class="team-name">John Doe</div>
                  <div class="team-job">creative head</div>
                  <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
                </div>
              </div>
            </div>  
          </div>
        </section>
        <!--/Team Section-->
            
        <!--Client Section-->
        <section class="container-fluid clients">
          <div class="row">
            <div class="col-lg-12">
              <h3>Our Clients</h3>
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <img class="img-responsive" src="images/client1.png" alt="client"/>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <img class="img-responsive" src="images/client2.png" alt="client"/>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <img class="img-responsive" src="images/client3.png" alt="client"/>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <img class="img-responsive" src="images/client4.png" alt="client"/>
                </div>
              </div>
            </div>
          </div>  
        </section>
        <!--/Client Section-->
          
        <!--Google Maps Section-->
        <section class="maps">
          <div id="map_canvas"></div>
        </section>
        <!--/Google Maps Section-->

      </div>
    </div>
    <div class="revealer-animation"></div>
  </nav>

  <!--PhotoSwipe Popup-->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar">

          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

          <button class="pswp__button pswp__button--share" title="Share"></button>

          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div> 
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

        </div>

    </div>
  </div>
  <!--/PhotoSwipe Popup-->
  
  <script>
    var TEXT = "Something big is",
        TEXT2 = "Coming Soon!"
  </script>
  <script src="js/jquery.min.js"></script>
  <script src="js/anime.min.js"></script>
  <script src="js/reveal.js"></script>
  <script src="js/photoswipe.min.js"></script>
  <script src="js/photoswipe-ui-default.min.js"></script>
  <script src="js/TimelineLite.min.js"></script>
  <script src="js/three.min.js"></script>
  <script src="js/THREE.MeshLine.js"></script>
  <script src='js/TweenLite.min.js'></script>
  <script src='js/EasePack.min.js'></script>
  <script src="js/fontFile.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <script src="js/canvas.js"></script>
  <script src="js/index.js"></script>
</body>
</html>