<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>HUGE - Multipurpose Coming Soon Error 404 Domain For Sale</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
    <meta name="keywords" content="Enter, your, keywords">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reveal.css">
</head>
<body>

    <header>
        <a href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">
          <img class="logo" src="images/logo.png" />
        </a>
        <span class="btn-menu"><img src="images/menu.svg" /></span>
    </header>

    <div id="wrap">
    <div id="wordsearch">
      <ul>
        <li>k</li>
        <li>v</li>
        <li>n</li>
        <li>z</li>
        <li>i</li>
        <li>x</li>
        <li>m</li>
        <li>e</li>
        <li>t</li>
        <li>a</li>
        <li>x</li>
        <li>l</li>
        <li class="one">4</li>
        <li class="two">0</li>
        <li class="three">4</li>
        <li>y</li>
        <li>y</li>
        <li>w</li>
        <li>v</li>
        <li>b</li>
        <li>o</li>
        <li>q</li>
        <li>d</li>
        <li>y</li>
        <li>p</li>
        <li>a</li>
        <li class="four">p</li>
        <li class="five">a</li>
        <li class="six">g</li>
        <li class="seven">e</li>
        <li>v</li>
        <li>j</li>
        <li>a</li>
        <li class="eight">n</li>
        <li class="nine">o</li>
        <li class="ten">t</li>
        <li>s</li>
        <li>c</li>
        <li>e</li>
        <li>w</li>
        <li>v</li>
        <li>x</li>
        <li>e</li>
        <li>p</li>
        <li>c</li>
        <li>f</li>
        <li>h</li>
        <li>q</li>
        <li>e</li>
        <li class="eleven">f</li>
        <li class="twelve">o</li>
        <li class="thirteen">u</li>
        <li class="fourteen">n</li>
        <li class="fifteen">d</li>
        <li>s</li>
        <li>w</li>
        <li>q</li>
        <li>v</li>
        <li>o</li>
        <li>s</li>
        <li>m</li>
        <li>v</li>
        <li>f</li>
        <li>u</li>
      </ul>
    </div>

    <div id="main-content">
      <h1>We couldn't find what you were looking for.</h1>

      <p>Unfortunately the page you were looking for could not be found. It may be
      temporarily unavailable, moved or no longer exist.</p>

      <p>Check the URL you entered for any mistakes and try again. Alternatively, search
      for whatever is missing or take a look around the rest of our site.</p>

      <div id="search">
        <form>
          <input type="text" placeholder="Search" />
        </form>
      </div>

      <div id="navigation">
        <a class="navigation" href="https://goo.gl/cDegnA">Home</a>
        <a class="navigation" href="https://goo.gl/cDegnA">About Us</a>
        <a class="navigation" href="https://goo.gl/cDegnA">Site Map</a>
        <a class="navigation" href="https://goo.gl/cDegnA">Contact</a>
      </div>
    </div>
  </div>

  <nav class="menu block-revealer">
    <div class="revealer-content">
      <span class="btn-close"><img src="images/close.svg" /></span>
      <ul class="menu-inner">
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Home</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Work</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">About</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Contact</a></li>
      </ul>
    </div>
    <div class="revealer-animation"></div>
  </nav>

  <script src="js/jquery.min.js"></script>
  <script src="js/anime.min.js"></script>
  <script src="js/reveal.js"></script>
  <script src="js/index.js"></script>

</body>
</html>