<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Natural Forest 404</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Baloo+Chettan' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">Natural <span>Forest</span></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">About Us</a></li>
              <li><a href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">Services</a></li>
              <li><a href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <div class="main">
    <ul id="scene" class="scene">
      <li class="layer" data-depth="0.1">
        <div id="countdown" data-time="2023/04/12 07:03:27"></div><!-- change data-time -->
      </li>
    </ul>
    <div class="relative">
      <h2>YOURDOMAIN.COM is for sale!</h2>
      <h4>YOURDOMAIN.COM is a strong, memorable brandable name averaging about 1,000 hits per day.<br />This domain could be yours!</h4>
      <a class="btn" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">Buy Now $1500</a>
    </div>
  </div>
  
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src='js/jquery.countdown.min.js'></script>
  <script src="js/parallax.min.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>