<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HUGE - Multipurpose Coming Soon Error 404 Domain For Sale</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
  <meta name="keywords" content="Enter, your, keywords">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />

  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="worklet-canvas"></div>
  <div class="prompt">
    <h1>404</h1>
    <p>The page you are looking for doesn't exist.</p>
    <div class="prompt__buttons">
      <a href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs" class="prompt__button prompt__button--regenerate">Go Home</a>
    </div>
  </div>

  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
