<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HUGE - Multipurpose Coming Soon Error 404 Domain For Sale</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
	<meta name="keywords" content="Enter, your, keywords">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif:700|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<button class="nav-toggle" data-menustate="closed">
		<svg class="icon icon--menu" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0h24v24H0z" fill="none"/>
			<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
		</svg>
		<svg class="icon icon--close" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
			<path d="M0 0h24v24H0z" fill="none"/>
		</svg>
	</button>
	<nav class="nav" data-state="closed">
		<a href="https://goo.gl/cDegnA" style="--delay: .35s">About</a>
		<a href="https://goo.gl/cDegnA" style="--delay: .4s">Studio</a>
		<a href="https://goo.gl/cDegnA" style="--delay: .45s">Products</a>
		<a href="https://goo.gl/cDegnA" style="--delay: .5s">Contact</a>
	</nav>

	<header class="header" data-menustate="closed">
		<div class="grid-item grid-item--primary">
			<img src="images/slide-showcase-2.jpg" class="object-fit" alt="chair">
			<a href="https://goo.gl/cDegnA" class="logo">
				<h1>Huge</h1>
			</a>
		</div>
		<div class="grid-item grid-item--secondary  grid-item--content">
			<article class="article article--align-right">
				<h5 class="rotate rotate--right">Made in<br/>Sweden</h5>
			</article>
			<article class="article">
				<h4><span>1992</span> <span>2018</span></h4>
				<h2 id="countdown" data-time="2022/04/12 07:03:27"></h2><!-- change data-time -->
				<p>YOURDOMAIN.COM is a strong, memorable brandable name averaging about 1,000 hits per day.
This domain could be yours!</p>
			</article>
		</div>
		<div class="grid-item grid-item--secondary">
			<img src="images/slide-showcase-1.jpg" class="object-fit" alt="chair">
		</div>
		<div class="grid-item grid-item--tertiary">
			<img src="images/slide-showcase-4.jpg" class="object-fit" alt="chair">
		</div>
		<div class="grid-item grid-item--tertiary grid-item--content">
			<article class="article">
				<p>Be the first to recieve our latest publication <a href="https://goo.gl/cDegnA">Subscribe</a></p>
			</article>
		</div>
		<div class="grid-item grid-item--tertiary">
			<img src="images/slide-showcase-3.jpg" class="object-fit" alt="chair">
		</div>
	</header>

	<div class="loading-overlay">
		<span class="loading-overlay__content h1">Huge</span>
	</div>

	<!-- Javascripts -->
	<script type="text/javascript" charset="utf-8" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" charset="utf-8" src='js/jquery.countdown.min.js'></script>
    <script type="text/javascript" charset="utf-8" src="js/index.js"></script>
</body>
</html>