<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Velo Slider</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:300,400,600'>
  <link rel="stylesheet" href="css/reset.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <main role="main">
      <!-- Slider -->
      <section class="velo-slides" data-velo-slider="on" data-velo-theme="light">

          <!-- Slide -->
          <section class="velo-slide">
              <!-- Slide BG -->
              <div class="velo-slide__bg">
                  <!-- Img -->
                  <figure class="velo-slide__figure" style="background-image: url(images/img1.jpg)"></figure>
              </div>

              <!-- Header -->
              <header class="velo-slide__header">
                  <h3 class="velo-slide__title"><span class="oh"><span>YOURDOMAIN.COM</span></span><span class="oh"><span>is for sale!</span></span></h3>
                  <p class="velo-slide__text"><span class="oh"><span>PREMIUM WEB DOMAIN, ESTIMATED VALUE $1500</span></span></p>
                  <p class="velo-slide__text"><span class="oh">
                    <span id="countdown" data-time="2022/04/12 07:03:27"></span><!-- change data-time -->
                  </span>
                  </p>
                  <span class="velo-slide__btn"><a class="btn-draw btn--white" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs"><span class="btn-draw__text"><span>Buy Now $1500</span></span>
                  </a>
                  </span>
              </header>
          </section>

          <!-- Slide -->
          <section class="velo-slide">
              <!-- Slide BG -->
              <div class="velo-slide__bg">
                  <!-- Img -->
                  <figure class="velo-slide__figure" style="background-image: url(images/img2.jpg)"></figure>
              </div>

              <!-- Header -->
              <header class="velo-slide__header">
                  <h3 class="velo-slide__title"><span class="oh"><span>YOURDOMAIN.COM</span></span></h3>
                  <p class="velo-slide__text"><span class="oh"><span>is a strong, memorable brandable name averaging about 1,000 hits per day. This domain could be yours!</span></span></p>
                  <span class="velo-slide__btn"><a class="btn-draw btn--white" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs"><span class="btn-draw__text"><span>Buy Now $1500</span></span>
                  </a>
                  </span>
              </header>
          </section>

          <!-- Slide - with Video -->
          <section class="velo-slide">
              <!-- Slide BG -->
              <div class="velo-slide__bg">
                  <!-- Img -->
                  <figure class="velo-slide__figure" style="background-image: url()"></figure>
                  <div class="velo-slide__vid-wrap">
                      <video autoplay="" class="velo-slide__vid" loop="" poster="">
              <source src="images/video.mp4" type="video/mp4">Wait, are you still using IE? Bruv. Go get Chrome, or kick rocks.</video>
                  </div>
              </div>
              <!-- Header -->
              <header class="velo-slide__header">
                  <h3 class="velo-slide__title"><span class="oh"><span>Video Slide</span></span></h3>
                  <p class="velo-slide__text"><span class="oh"><span>Beautifully responsive HUGE theme looks great on any devices. Reach your audience wherever they may be.</span></span>
                  </p>
                  <span class="velo-slide__btn"><a class="btn-draw btn--white" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs"><span class="btn-draw__text"><span>Buy Now</span></span>
                  </a>
                  </span>
              </header>
          </section>

          <!-- Slides Nav -->
          <nav class="velo-slides-nav">
              <ul class="velo-slides-nav__list">
                  <li>
                      <a class="js-velo-slides-prev velo-slides-nav__prev inactive" href="#0"><i class="icon-up-arrow"></i></a>
                  </li>
                  <li>
                      <a class="js-velo-slides-next velo-slides-nav__next" href="#"><i class="icon-down-arrow"></i></a>
                  </li>
              </ul>
          </nav>
      </section>
  </main>
  <script src='js/jquery.min.js'></script>
  <script src='js/jquery.countdown.min.js'></script>
  <script src='js/velocity.js'></script>
  <script src='js/velocity.ui.js'></script>
  <script src="js/index.js"></script>
</body>
</html>
