<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>HUGE - Multipurpose Coming Soon Error 404 Domain For Sale</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
	<meta name="keywords" content="Enter, your, keywords">

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />

	<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="images/webclip.png" rel="apple-touch-icon">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="worklet-canvas"></div>
  	<div class="prompt">
		<h2>YOURDOMAIN.COM is for sale!</h2>
		<p>YOURDOMAIN.COM is a strong, memorable brandable name averaging about 1,000 hits per day.<br />This domain could be yours!</p>
	</div>

	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>