<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HUGE - Multipurpose Coming Soon Error 404 Domain For Sale</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
  <meta name="keywords" content="Enter, your, keywords">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/skate.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <span class="btn-menu"><img src="images/menu.svg" /></span>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <a class="logo" href="https://goo.gl/cDegnA">
            <img src="images/logo.png" />
          </a>
          <h1>404</h1>
          <h2>The page you are looking for doesn't exist.</h2>
          <a class="btn" href="https://goo.gl/cDegnA">
            Go back to our Homepage
          </a>
        </div>
      </div>
    </div>
  </div>

  <nav class="menu col-xs-12 col-sm-6 block-revealer">
    <div class="revealer-content">
      <span class="btn-close"><img src="images/close.svg" /></span>
      <ul class="menu-inner">
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Home</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Work</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">About</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Contact</a></li>
      </ul>
    </div>
    <div class="revealer-animation"></div>
  </nav>

  <div class="skate">
    <div class='linewrap'>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
    </div>
    <input type='checkbox' class='inp manual'>
    <input type='checkbox' class='inp kickflip'>
    <input type='checkbox' class='inp hardflip'>
    <input type='checkbox' class='inp ollie'>
    <input type='checkbox' class='inp threesix'>
    <input type='checkbox' class='inp shovit'>
    <h1>Click Me</h1>
    <div class='outer'>
      <div class='wrap'>
        <div class='board'>
          <div class='nose'></div>
          <div class='tail'></div>
          <div class='trucks'>
            <div class='inner'></div>
            <div class='wheel'></div>
          </div>
          <div class='trucks rear'>
            <div class='inner'></div>
            <div class='wheel'></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/anime.min.js"></script>
  <script type="text/javascript" src="js/reveal.js"></script>
  <script type="text/javascript" src="js/index.js"></script>  
</body>
</html>