<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>HUGE - Multipurpose Coming Soon Error 404 Domain For Sale</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
	<meta name="keywords" content="Enter, your, keywords">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Baloo+Bhaijaan|Raleway:100,400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/reveal.css">
</head>
<body class="colorful">
  <header>
    <span class="btn-menu"><img src="images/menu.svg" /></span>
  </header>
  
  <section class="huge-section fluid-container">
    <div class="row">
      <div class="huge-side left-side col-xs-12 col-sm-6">
        <div class="row">
          <div class="huge-content col-xs-8 col-xs-offset-2">
            <a href="https://goo.gl/cDegnA">
              <img class="logo" src="images/logo.png" />
            </a>
            <div id="countdown" data-time="2023/04/12 07:03:27"></div><!-- change data-time -->
            <h2>YOURDOMAIN.COM is for sale!</h2>
            <h4>YOURDOMAIN.COM is a strong, memorable brandable name averaging about 1,000 hits per day.<br />This domain could be yours!</h4>
            <a class="btn" href="https://goo.gl/cDegnA">
              Buy Now $1500</a>
  
            <footer>
              <!--Social Icons-->
              <ul class="social-icons">
                <li>
                  <a href="https://goo.gl/cDegnA" class="social-icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://goo.gl/cDegnA" class="social-icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://goo.gl/cDegnA" class="social-icon">
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://goo.gl/cDegnA" class="social-icon">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
              <!--/Social Icons-->
            </footer>
          </div>
        </div>
      </div>
      <div class="huge-side right-side col-xs-12 col-sm-6">
        <div class="huge-background-img">
          <div id="app">
            <canvas></canvas>
          </div>
          <h3>Which one of the boxes has an irregular color?</h3>
        </div>
      </div>
    </div>
  </section>

  <nav class="menu col-xs-12 col-sm-6 block-revealer">
    <div class="revealer-content">
      <span class="btn-close"><img src="images/close.svg" /></span>
      <ul class="menu-inner">
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Home</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Work</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">About</a></li>
        <li class="menu-item"><a class="menu-link" href="https://goo.gl/cDegnA">Contact</a></li>
      </ul>
    </div>
    <div class="revealer-animation"></div>
  </nav>

  <script src="js/jquery.min.js"></script>
  <script src='js/jquery.countdown.min.js'></script>
  <script src='js/TweenMax.min.js'></script>
  <script src="js/anime.min.js"></script>
  <script src="js/reveal.js"></script>
  <script src="js/konva.js"></script>
  <script src="js/game.js"></script>
  <script src="js/index.js"></script>
</body>
</html>
