<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
    <title>HUGE 404 - by SquirrelLabs</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="flex-grid-center">
		<div class="mac-window">
			<div class="title-bar">
				<div class="bars-container">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
				<div class="close"><div class="inner"></div></div>
				<div class="title">404 Not Found</div>
			</div>
			<p>This page cannot be found on the server. Check the URL and try again.</p>
      		<a class="btn" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs">Go back to our Homepage</a>
		</div>
	</div>

    <script src="js/index.js"></script>
</body>
</html>