* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font: 100% Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

svg, img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
