<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>The frantic run of the valorous rabbit</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="world">
      <div id="logo">
        <a href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs" ><img src="images/yourlogo.png" alt="logo"/></a>
      </div>
      <div id="gameoverInstructions">404</div>
      <div id="dist">
          <div class="label">distance</div>
          <div id="distValue">000</div>
      </div>

      <div id="instructions">Click to jump<span class="lightInstructions"> — Grab the carrots / avoid the hedgehogs</span></div>
    </div>
    <script src='js/three.js'></script>
    <script src='js/TweenMax.min.js'></script>
    <script src='js/OrbitControls.js'></script>
    <script src="js/index.js"></script>
  </body>
</html>
